@page "/"
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using AGDPMS.Web.Data
@using System.Security.Claims

@attribute [Authorize]

@inject NavigationManager Nav

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <h1>Hello, @context.User.Identity?.Name !</h1>
    <ul>
        @foreach (var claim in context.User.Claims)
        {
            <li>@claim.Type - @claim.Value</li>
        }
    </ul>
    Welcome to your new app.
    <AuthorizeView Roles="Admin" Context="adminContext">
        <a href="/accounts">Accounts</a>
    </AuthorizeView>
    <AuthorizeView Roles="Technician" Context="techContext">
        <a href="/takeoff">Take Off</a>
    </AuthorizeView>
</AuthorizeView>

<br />
<button type="button" @onclick='() => Nav.NavigateTo("/logout", forceLoad: true)'>Logout</button>