@page "/report"
@rendermode InteractiveServer

@using AGDPMS.Shared.Models
@using AGDPMS.Shared.Services
@using System.ComponentModel.DataAnnotations

@* @attribute [Authorize(Roles = "Admin")] *@

@inject IReportService reportSerivce

<PageTitle>Inventory</PageTitle>

<button onclick="">Generate Issue</button>
<button>Generate receipt</button>
<button>Generate quotation</button>
<button>Generate material planning</button>

@code {
	
}
