@page "/report"
@rendermode InteractiveServer

@using AGDPMS.Shared.Models
@using AGDPMS.Shared.Services
@using System.ComponentModel.DataAnnotations

@* @attribute [Authorize(Roles = "Admin")] *@

@inject IReportService reportSerivce

<PageTitle>Inventory</PageTitle>

<button @onclick="GenerateIssue">Generate Issue</button>
<button>Generate receipt</button>
<button>Generate quotation</button>
<button>Generate material planning</button>

@code {
	public void GenerateIssue()
	{
		Console.WriteLine("GenerateIssue");
		reportSerivce.GenerateIssue(null);
	}
	public void GenerateReceipt()
	{
		reportSerivce.GenerateReceipt(null);
	}
	public void GenerateQuotation()
	{
		reportSerivce.GenerateQuotation(null);
	}
	public void GenerateMaterialPlanning()
	{
		reportSerivce.GenerateMaterialPlanning(null);
	}
}
