@page "/inventory/transaction"
@rendermode InteractiveServer

@using AGDPMS.Shared.Models
@using AGDPMS.Shared.Services
@using System.ComponentModel.DataAnnotations

@inject IInventoryService inventoryService

<PageTitle>Quản lý kho</PageTitle>

<h3>Quản lý kho</h3>

@code {

}
