@page "/"

@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization
@using AGDPMS.Services

@attribute [Authorize]

@inject NavigationManager Nav
@inject CustomAuthenticationStateProvider AuthStateProvider

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="container mt-5">
            <div class="card shadow-lg rounded-4 p-4 mx-auto" style="max-width: 480px;">
                <div class="card-body text-center">
                    <h3 class="mb-3">Welcome to the app</h3>
                    <ul>
                        @foreach (var claim in context.User.Claims)
                        {
                            <li><strong>@claim.Type:</strong> @claim.Value</li>
                        }
                    </ul>
                    <button class="btn btn-danger w-100 mt-4" @onclick="Logout">Logout</button>
                </div>
            </div>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    private void Logout()
    {
        AuthStateProvider.Logout();
        Nav.NavigateTo("/login", replace: true);
    }
}