@page "/profile"
@rendermode InteractiveServer

@using System.ComponentModel.DataAnnotations
@using AGDPMS.Shared.Models
@using AGDPMS.Shared.Services
@using AGDPMS.Shared.Validations

@inject IUserService UserService

<div class="container-fluid py-4">
    <a href="/">Home</a>
    <h3 class="fw-bold mb-4">User Profile</h3>
    <div class="row justify-content-start">
        <div class="col-12 col-md-6">
            <EditProfileForm User="User" />
            <hr class="my-5" />
            <ChangePasswordForm User="User" />
            @if (!string.IsNullOrEmpty(ErrorMessage))
            {
                <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                    @ErrorMessage
                    <button type="button" class="btn-close" @onclick="() => ErrorMessage = null"></button>
                </div>
            }
        </div>
    </div>
</div>

@code {
    private AppUser? User { get; set; }
    private string? ErrorMessage;

    protected override async Task OnInitializedAsync()
    {
        var result = await UserService.GetCurrentUserAsync();
        if (result.Success) User = result.User;
        else ErrorMessage = result.ErrorMessage;
    }
}
